.TaskanyIconsWrapper {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: var(--taskany-icons-font-size, 1em);
    line-height: 1;
}

.TaskanyIconsWrapper_hover {
    cursor: pointer;
}

.TaskanyIconsInner {
    vertical-align: -0.125em;
}
